replicaCount: 1
image:
  repository: mendhak/http-https-echo
  tag: 39
  pullPolicy: IfNotPresent
service:
  type: ClusterIP
  port: 80
containerPort: 8080
env:
  HTTP_PORT: "8080"
  HTTPS_PORT: "443"
  ENABLE_HTTPS: "false"
  PROMETHEUS_ENABLED: "true"
  PROMETHEUS_WITH_PATH: "true"
  PROMETHEUS_WITH_METHOD: "true"
  PROMETHEUS_WITH_STATUS: "true"
ingress:
  enabled: true
  className: nginx
  annotations: {}
  hosts:
    - host: echo.localtest.me
      paths:
        - path: /
          pathType: Prefix
  tls: []

imagePullSecrets: []
nameOverride: ""
fullnameOverride: ""

serviceAccount:
  create: true
  annotations: {}
  name: ""

podAnnotations:
  prometheus.io/scrape: "true"
  prometheus.io/port: "8080"
  prometheus.io/path: "/metrics"

podSecurityContext: {}

securityContext: 
  capabilities:
    drop:
    - ALL
  readOnlyRootFilesystem: true
  runAsNonRoot: true
  runAsUser: 1000


livenessProbe:
  httpGet:
    path: /
    port: 8080

readinessProbe:
  httpGet:
    path: /
    port: 8080

resources: 
   limits:
     cpu: 100m
     memory: 128Mi
   requests:
     cpu: 100m
     memory: 128Mi

autoscaling:
  enabled: false
  minReplicas: 1
  maxReplicas: 100
  targetCPUUtilizationPercentage: 80
  # targetMemoryUtilizationPercentage: 80

nodeSelector: {}

tolerations: []

affinity: {}
